
html {
	position: relative;

}

body {
	background: url(images/tray.JPG);
	background-size: cover;
	background-position: center;
	color: white;
	font-family: "Arial Rounded MT Bold", Lato;
    width: auto;
}

.about-body {
	background: url(images/office.JPG);
	background-size: cover;
	background-position: center;
	color: white;
	font-family: "Arial Rounded MT Bold", Lato;
    width: auto;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,.4),
				 0px 8px 13px rgba(0,0,0,.1),
				 0px 18px 23px rgba(0,0,0,.1);
}

#about-content {
	text-align: center;
	padding-top: 25%;
	margin: 50px auto;
		
}

#contact-content {
	text-align: center;
	padding-top: 25%;
	margin: 50px auto;
		
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr { 
	width: 400px;
	border-top: 1px solid #F8F8F8;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

h3 {
	font-family: "signpainter", script;
}

a:link {
	color: yellow;
}

.navbar-default {
	background-color: rgba(243, 194, 194, 1);
	border: none;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: rgba(143, 228, 228, .5);
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.fa-smile-o {
	padding: 2px;
}

.thumbnail {
	padding: 10px;
	padding-top: 20px;
	background-color: rgba(143, 228, 228, .7);
	border: 1px solid rgba(243, 194, 194, 1);
}

.staff {
	text-align: center;
	font-size: 2em;
}

.warm-smiles-staff {
	font-size: 20px;
	margin-top: 50px;
}

.profile-description {
	text-align: center;
	padding-bottom: 30px;
}

#volunteer {
	position: absolute;
    bottom: 0;
	text-shadow: none;
	margin: auto;
    width: 100%;
    text-align: center;

}

.multi-source {
	font-size: .75em;
}

.find-us {
	font-size: 14px;
}
/*NAVBAR COLLAPSE ALTERATIONS*/

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.navbar-default .navbar-toggle {
    border-color: rgba(143, 228, 228, 1);
}

/*Form*/
 
form {
	padding-top: 50px;
} 
form p {
	font-size: 2em;
}

.form-control {

	margin-top: 10px;
    display: block;
    width: 75%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: rgba(255, 255, 255, .3);
    background-image: none;
    border: 1px solid #ccc;
    border-top: 10px solid rgba(143, 228, 228, .5);
    border-bottom: 10px solid rgba(243, 194, 194, .5);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }



.form-control::-webkit-input-placeholder { color: rgba(255, 255, 255, .5); }
.form-control:-moz-placeholder { color: rgba(255, 255, 255, .51); }
.form-control::-moz-placeholder { color: rgba(255, 255, 255, .5); }
.form-control:-ms-input-placeholder { color: rgba(255, 255, 255, .5); }



.btn-default {
    margin-top: 20px;
    color: rgba(255, 255, 255, .7);
    background-color: rgba(243, 194, 194, .75);
    text-transform: uppercase;
    border-radius: 0;
    margin-bottom: 50px;

    
}

.btn-default:hover {
	color: white;
	background-color: pink;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/*Fade in Effect*/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes In { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
	-webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;

}
